{% extends '/layouts/base.html' %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}" />
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="container mt-3">
        {% for category, message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <div class="container mt-5">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title mb-4">Edit Your Recipe</h4>
              <form method="POST" action="{{ url_for('home_blueprint.edit_recipe', recipe_id=recipe.id) }}" enctype="multipart/form-data">
                  {{ form.csrf_token }}
                  <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                  <div class="form-group row">
                      <label for="{{ form.name.id }}" class="col-sm-2 col-form-label">Name:</label>
                      <div class="col-sm-10">
                          {{ form.name(class='form-control') }}
                      </div>
                  </div>
                  <!-- Add the description form-group -->
                  <div class="form-group row">
                      <label for="{{ form.description.id }}" class="col-sm-2 col-form-label">Description:</label>
                      <div class="col-sm-10">
                          {{ form.description(class='form-control', rows=5) }}
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="{{ form.cuisine.id }}" class="col-sm-2 col-form-label">Cuisine:</label>
                      <div class="col-sm-10">
                          {{ form.cuisine(class='form-control') }}
                      </div>
                  </div>

                  <div class="form-group row">
                      <label for="{{ form.ingredients.id }}" class="col-sm-2 col-form-label">Ingredients (one per line):</label>
                      <div class="col-sm-10">
                          {{ form.ingredients(class='form-control', rows=5) }}
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="{{ form.instructions.id }}" class="col-sm-2 col-form-label">Instructions (one per line):</label>
                      <div class="col-sm-10">
                          {{ form.instructions(class='form-control', rows=5) }}
                      </div>
                  </div>

                  <div class="form-group row">
                      <label for="{{ form.cooking_time.id }}" class="col-sm-2 col-form-label">Cooking Time (minutes):</label>
                      <div class="col-sm-10">
                          {{ form.cooking_time(class='form-control') }}
                      </div>
                  </div>
                  <div class="form-group">

                      <label for="{{ form.image.id }}">Image</label>
                          {{ form.image(class='form-control') }}
                    </div>
                  <div class="form-group row">
                      <div class="col-sm-2"></div>
                      <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary">Save Changes</button>
                          <a href="{{ url_for('home_blueprint.my_recipes') }}" class="btn btn-secondary">Go Back</a>
                      </div>
                  </div>
                  
              </form>
          </div>
      </div>
  </div>
{% endblock %}