{% extends '/layouts/base.html' %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ recipe.name }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}" />

  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      background-color: white;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  </style>
</head>
<body>
  <div class="container mt-4">
    <h1>{{ recipe.name }}</h1> 
    <p class="cuisine">{{ recipe.cuisine }}</p>
    <div class="img-container">
      <img src="{{ url_for('static', filename='/assets/images/' + recipe.image) }}" alt="{{ recipe.name }}" class="img-fluid">
    </div>
    <p><strong>Author:</strong> <a href="{{ url_for('home_blueprint.user_profile', username=author) }}">{{ author }}</a></p>
      {% if recipe.user_id == user.id %}
      <span>(You)</span>
      {% elif isFollowing %}
      <!-- Unfollow form -->
      <form action="/unfollow_author" method="POST" style="display: inline;">
          <input type="hidden" name="author_id" value="{{ author.id }}">
          <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
          <button type="submit" class="unfollow-btn">Unfollow</button>
      </form>
      {% else %}
      <!-- Follow form -->
      <form action="/follow_author" method="POST" style="display: inline;">
          <input type="hidden" name="author_id" value="{{ author.id }}">
          <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
          <button type="submit" class="follow-btn">Follow</button>
      </form>
      {% endif %}
    </p>

    <p class="description">{{ recipe.description }}</p>

    <p><strong>Cooking Time:</strong> {{ recipe.cooking_time }} minutes</p>

    <h4 class="section-title">Ingredients</h4>
    <ul>
      {% for ingredient in ingredients %}
        <li>{{ ingredient.name }}</li>
      {% endfor %}
    </ul>

    <!-- Add to My Shopping List form -->
    <form id="shopping-list-form" action="/add_to_shopping_list" method="POST">
      <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
      {% for ingredient in ingredients %}
        <input type="hidden" name="ingredients[]" value="{{ ingredient.name }}">
      {% endfor %}
      <button id="add-to-shopping-list-btn" type="submit" class="add-to-shopping-list-btn">Add to My Shopping List</button>
    </form>
    <!-- Success message container -->
    <div id="success-message" style="display: none;">Ingredients added to shopping list!</div>

    <h4 class="section-title">Instructions</h4>
    <ol>
      {% for instruction in instructions %}
        <li>{{ instruction.method }}</li>
      {% endfor %}
    </ol>

    <!--Rating-->
    <h4 class="section-title">Recipe Rating</h4>
    {% if rating %}
    <p class="rating">{{ rating }} &#9733; <span class="rate-count"> ({{ rate_count }})</span></p>
    {% else %}
      <p class="rating">No ratings yet</p>
    {% endif %}
    {% if isRated %}
      <p>You have already rated this recipe.</p>
    {% else %}

    <form action="rate_recipe" method="POST">
      <div class="form-group form-inline">
        <label for="rating" class="mr-2">Rate this recipe:</label>
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
        <input type="hidden" name="username" value="{{ user }}">
        <input type="number" class="form-control mr-2" id="rating" name="rating" min="1" max="5" step="1">
        <button type="submit" class="btn btn-primary">Submit Rating</button>
      </div>
    </form>
    {% endif %}

    <!--Comments-->
    <h4 class="section-title">Comments</h4>
    {% for comment in comments %}
    <div class="card mb-3">
        <div class="card-header bg-light">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">{{ comment.username }}</h5>
                <small class="text-muted">{{ comment.timestamp.strftime('%B %d, %Y %I:%M %p') }}</small>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">{{ comment.content }}</p>
        </div>
    </3>
    </div>
    {% endfor %}
    <form action="submit_comment" method="POST">
      <div class="form-group">
        <label for="comment">Add a comment:</label>
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
        <input type="hidden" name="username" value="{{ user }}">
        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>
  </div>
</body>

<script>
  document.getElementById('shopping-list-form').addEventListener('submit', async (e) => {
    e.preventDefault();
    
    const form = e.target;
    const button = document.getElementById('add-to-shopping-list-btn');
    const successMessage = document.getElementById('success-message');
  
    try {
      const response = await fetch(form.action, {
        method: 'POST',
        body: new FormData(form),
        credentials: 'same-origin',
      });
  
      if (response.ok) {
        button.disabled = true;
        successMessage.style.display = 'block';
      } else {
        // Handle server-side errors, if any
        console.error('Error adding ingredients to shopping list');
      }
    } catch (err) {
      // Handle client-side errors, if any
      console.error('Error adding ingredients to shopping list:', err);
    }
  });
  </script>
{% endblock %}